* {
  font-family: Calibri, Arial;
  margin:  0;
  padding: 0;
}
/*
*:not(body, footer, head, hr, html, li, #root) {
  padding-left:  16px;
  padding-right: 16px;
}
*/
body {
  margin:  0;
  padding: 0;
}
body, html {
  height: 100vh;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}
button:hover {
  background-color: #EFEFEF;
}
button:active {
  background-color: #D0D0D0;
}
button, input {
  background-color: white;
  border:             none;
  border-radius:      8px;
  padding:            8px 16px
}
h1, h2 {
  padding-bottom: 8px;
}
h3, h4, h5, h6 {
  padding-bottom: 4px;
  padding-top:    4px;
}
html {
  background-color: #282c34;
  color:            white;
}
li {
  padding: 4px;
}

.add-item {
  padding-bottom: 8px;
}
.add-item input {
  margin-right: 16px;
  width: 50%;
}

#root > div {
  padding: 8px 24px;
}

.card {
  align-content: center;
  border:        1px solid grey;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-left:   4px;
  margin-right:  4px;
  max-width:     18.2328538894%;
  overflow:      hidden;
  text-overflow: ellipsis;
}
.card div {
  overflow: hidden;
  width:    100%;
}
.card div:first-child {
  max-height: 144px;
}
.card div:last-child {
  padding:       0px 8px 8px 8px;
  text-align:    center;
  text-overflow: ellipsis;
  white-space:   nowrap;
}
.card img {
  margin: auto;
  width:  100%;
}
.card-grid {
  display:        flex;
  flex-direction: row;
  flex-wrap:      wrap;
}